# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
*.env
*.conda

# Data and models (avoid large files)
data/
models/
logs/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# PyTorch temp files
*.pt
*.pth
*.tar
